<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RoundTable</title>
    {% if message %}
    <h4>{{message}}</h4> {% endif %}
    <ul class="nav pull-right">
        {% if not session.logged_in %}
        <li><a href="/facebook_login">Login or Signup</a></li>
        {% else %}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/mapview">Show Map</a></li>
    </ul>
    <table>
        <tr valign="top">
            <td><img src="{{ user_picture_url }}"></td>
            <td>
                <h1>User: {{ user_name }}</h1></td>
        </tr>
    </table>
    {% endif %}
</head>

<body>
    <img src="http://www.autoremarketing.com/sites/default/files/styles/story_page_main_image/public/roundtable%20discussion.jpg?itok=FCkGWUa8">
</body>

</html>

<style>
    html {
        text-align: center;
    }
</style>
